{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
    {{super()}}
    <link rel="stylesheet" 
        href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{%block main%}
    {{ super() }}
    <div class="container sources mt-4">
        <!-- ARTICLES -->
        <h1>ARTICLES</h1>

        <ul>
            {% for article in articles %}
                <li>{{article.article_title}}</li>

            {%endfor%}
        </ul>
    </div>
{%endblock%}