<div class="container-fluid header">
    <div>
        <div>
            <h1 class="logo-type"><a href="/">NEWSRUN</a></h1>
            <p><em>For the best collection of all news from all over the world.</em></p>
        </div>
        <div>
            <form class="search-container">
                <input id="search-box" type="text" class="search-box" name="q" placeholder="Search for news..."/>
                <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                <input type="submit" id="search-submit" />
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("touchstart", function () {}, true);
</script>