{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
    {{super()}}
    <link rel="stylesheet" 
        href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{%block content%}
    <div class="container sources mt-4">
        {% for category in categories %}
            <h5 class="my-3 category">{{category[0].src_category.upper()}}</h5>
            <hr>
            <div class="source-list">
                {{ macro.displaySources(category) }}
                <hr>
            </div>
        {%endfor%}
    </div>
{%endblock%}