{% extends 'base.html'%}

<!-- Styles block -->
{% block styles %}
    {{super()}}
    <link rel="stylesheet" 
        href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{%block content%}
    <div class="container sources">
        <h2 class="my-4">Sources</h2>
        <div class="source-list">
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
            <p class="source mx-2">Business Daily</p>
        </div>
    </div>
{%endblock%}